{% extends "layout.twig" %}
{% block title %} Mis publicaciones {% endblock %}
{% block main_container %}
  <h2>Listado de usuarios</h2>
  <div class="table-responsive">
    <form action="/admin/delete" method="post">
      <input type="submit" id="deleteButton" class="btn btn-danger" value="Eliminar"/>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for userRes in response.users %}
          {% if userRes.name != "admin" %}
          <tr>
            <td>{{ userRes.email }}</td>
            <td>{{ userRes.name }}</td>
            <td>{{ userRes.surname }}</td>
            <td>
              <input type="checkbox" name="id" value="{{ userRes.email }}">
            </td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
  <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
  <div class="row text-center">
    <ul class="pagination">
      {% for page in response.pages %}
        <li class="page-item" id="pi-{{ page }}">
          <a class="page-link" href="/users/?page={{ page }}"> {{ page }} </a>
        </li>
      {% endfor %}
      <script>
        $("#pi-" + "{{ currentPage }}").addClass("active");
      </script>
    </ul>
  </div>
{% endblock %}


{#{% for userRes in response.users %}#}
{#    {% if userRes.name != "admin"  || userRes.email == user %}#}
{#      <tr>#}
{#        <td>{{ userRes.email }}</td>#}
{#        <td>{{ userRes.name }}</td>#}
{#        <td>{{ userRes.surname }}</td>#}
{#        <td>#}
{#          <input type="checkbox" name="id" value="{{ userRes.email }}">#}
{#        </td>#}
{#      </tr>#}
{#    {% endif %}#}
{#  {% endfor %}#}